body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, "Comic Sans Ms";
    font-size: 14px;
    color: #ffffff;
    background-color: #878787;
}

.all {
	position: relative;
    max-width: 980px;  
    height: auto;
    background-color: #000000;
	margin: 10px auto;
}

.topleft {
    width: 100%;
    height: 150px;
}

.menulewe {
    float: left;
    width: 150px;
    height: auto;
}

.tresc {
	position: relative;
    float: right;
    width: 810px;
    min-height: 625px; /*565px*/
	padding: 10px;
}

.test {
    position: absolute;
	top: 30%;
	left: 25%;
}

.kontakt {
	position: absolute;
	top: 20%;
	left: 28%;
	right: 1%;
	font-size: 18px;
}

.autoindex {
	position: absolute;
	top: 35%;
	left: 33%;
	font-size: 18px;
}

.srodek {
	text-align: center;
	font-size: 20px;
}

.foot {
	clear: both;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #555;
}


ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}


ul a:link, ul a:visited {
	display: block;
	width: 135px;
	color: #fff;
	padding: 5px;

/* wysokość przycisku */
	height: 50px;
	line-height: 25px;
	border-radius: 15px;
}

/* zmiana przycisku po najechaniu myszą */

ul a:hover {
	border: 1px solid #fff;
	text-align: center;
}

ul a:active {
	border:1px solid #0f0;
}


#menu li {list-style: none;}
#menu, #menu ul {width: 100%;}
#menu ul {visibility: hidden; position: absolute; top: 0; left: 100%; padding-left: 1px;}
#menu li {padding-bottom: 1px; line-height: 0; position: relative;}
#menu li:hover ul {z-index: 1; visibility: visible;}
#menu > li > ul > li > a
{
	text-decoration: underline;
}

/* kolor odsyłacza wylogowania */
a:link.logout, a:visited.logout {
	color:#0f0;
}

a:link, a:visited
{
	color: #00c6d6;
}

p.wyloguj /* info o zalogowanym użytkowniku */
{
	text-align: right;
}

p.wyloguj > span
{
	font-style: italic;
	font-weight: bold;
}

.tabela { 
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	font-size: 16px;
} /* wyśrodkowanie poziome tabeli */
/*
table.przeglad td {
	padding:5px;
	text-align:center;
	font-size: 16px;
}
*/
/* div zamiast table */
div.przeglad
{
	width: 90%;
	box-sizing: border-box;
	border: 1px solid #fff;
}

div.przeglad > div
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

div.przeglad > div > div
{
	width: 15%;
	padding:5px;
	text-align:center;
	font-size: 16px;
	border: 1px solid #fff;
}

.button-rezerwuj, input[type=submit]
{
	background-color: rgb(12, 139, 12);
	color: #fff;
	cursor: pointer;
	border-radius: 20px;
	padding: 10px;
	font-size: 1.1em;
	font-weight: bold;
	border: 0;
	margin-top: 10px;
}

input[type=text], input[type=password]
{
	height: 30px;
	border-radius: 15px;
	padding: 0 10px;
	font-size: 16px;
}

input[type=file]::-webkit-file-upload-button
{
	font-size: 16px;
	border-radius: 15px;
	padding: 5px;
	background-color: rgb(12, 139, 12);
	color: #fff;
	cursor: pointer;
}

select
{
	font-size: 16px;
	padding: 5px;
	border-radius: 15px;
}